.bg-blue {
    background-color: #F2F9FF;
}
.status-icon {
    margin-left: 20px;
}
.badge-danger {
    background-color: #DC3545;
}
.badge-secondary {
    background-color: #6C757D;
}
.margin-filter {
    margin-right: 30px;
}
.div-campaign {
    cursor: pointer;
}
.div-sub-campaign {
    border-right: 1px solid; 
    margin-right: 5px;
}
.status-validated {
    color: green;
}
.status-rejected {
    color: red;
}
.validated-margin {
    margin-left: 4px;
}
.rejected-margin {
    margin-left: 7px;
}
.draft-margin {
    margin-left: 15px;
}
.campaign-name {
    margin-left: 10px;
}